

body {
    background-color:white;
}

.masthead {
    height: 90vh;
    min-height: 500px;
    background: linear-gradient(to left, rgba(100,100,100, .8) ,rgba(100,100,100, .8)),url(media/crop.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


  h1 {
      font-family: sans-serif;
      color: black;
  }

  h2 {
      color: black;
      
  }

  .btn-custom {
    color: black;
    background-color: #7FB685;
    border-color: #7FB685;
    float:right;

}
  
.custom-story{
    border-radius: 20px;
}

.btn-form {
    color: black;
    background-color: #7FB685;
    border-color: #7FB685;
    font-weight: bold;
    
}

.btn-header {
    color: black;
    background-color: #7FB685;
    border-color: #7FB685;
    font-weight: bold;
    font-size: 20px;
    
    
}

.btn-header:hover {
    color:#7FB685;
    background-color: black;
}

.btn-form:hover {
    color:#7FB685;
    background-color: black;
}

.custom-icon {
    font-size: 5em;
}


.custom-position-button{
    position: relative;
    top: 250px;
    right: 80px;
}

.icon-custom {
    color: #7FB685;
}

.inline {
    display: inline;
    align-items: center;
}


