

body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

.masthead {
    background: linear-gradient(to left, rgba(100,100,100, .8) ,rgba(100,100,100, .8)),url(media/crop.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    
}





  h1 {
      font-family: sans-serif;
      color: black;
  }

  h2 {
      color: black;
      
  }

  
.custom-story{
    border-radius: 20px;
}

.btn-form {
    color: black;
    background-color: #7FB685;
    border-color: #7FB685;
    font-weight: bold;
    
}

.btn-header {
    color: black;
    background-color: #7FB685;
    border-color: #7FB685;
    font-weight: bold;
    font-size: 20px;
    
    
}

.btn-header:hover {
    color:#7FB685;
    background-color: black;
}

.btn-form:hover {
    color:#7FB685;
    background-color: black;
}

.custom-icon {
    font-size: 5em;
}


.custom-position-button{
    position: relative;
    top: 150px;
    right: 80px;
}

.icon-custom {
    color: #7FB685;
}

.inline {
    display: inline;
    align-items: center;
}

.bg-custom {
    background: linear-gradient(to bottom , #7FB685 , white); 
}

.shadow-custom {
    text-shadow: 2px 2px #7FB685;
  }



