

body {
    color: var(--maincolor(#7FB685))
    
}

.masthead {
    height: 90vh;
    min-height: 500px;
    background: linear-gradient(to left, rgba(100,100,100, .8) ,rgba(100,100,100, .8)),url(media/crop.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


  h1 {
      font-family: sans-serif;
      color: black;
  }

  h2 {
      color: black;
      
  }

  .btn-custom {
    color: black;
    background-color: #7FB685;
    border-color: #7FB685;
    position: relative;
    bottom: 100px;
}
  

.btn-form {
    color: black;
    background-color: #7FB685;
    border-color: #7FB685;
}

.btn-form:hover {
    color:#7FB685;
    background-color: black;
}

.custom-icon {
    font-size: 5em;
}